In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

# Caricamento del dataset

In [3]:
trainSet=pd.read_csv("train.csv")

In [4]:
testSet=pd.read_csv("test.csv")

# Verifico i miei dati a disposizione

In [5]:
trainSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66315 entries, 0 to 66314
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   No-show         66315 non-null  object
 1   PatientId       66315 non-null  float64
 2   AppointmentID   66315 non-null  int64
 3   Gender          66315 non-null  object
 4   ScheduledDay    66315 non-null  object
 5   AppointmentDay  66315 non-null  object
 6   Age             66315 non-null  int64
 7   Neighbourhood   66315 non-null  object
 8   Scholarship     66315 non-null  int64
 9   Hipertension    66315 non-null  int64
 10  Diabetes        66315 non-null  int64
 11  Alcoholism      66315 non-null  int64
 12  Handcap         66315 non-null  int64
 13  SMS_received    66315 non-null  int64
dtypes: float64(1), int64(8), object(5)
memory usage: 7.1+ MB

In [6]:
trainSet.head(20)

,No-show,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
0,Yes,2.247937e+12,5587761,F,2016-04-15T09:03:51Z,2016-05-18T00:00:00Z,29,SANTA MARTHA,0,0,0,0,0,0
1,No,7.894582e+11,5774796,F,2016-06-06T08:41:45Z,2016-06-06T00:00:00Z,5,JOANA D´ARC,0,0,0,0,0,0
2,No,3.967220e+14,5605217,M,2016-04-20T08:44:47Z,2016-05-10T00:00:00Z,64,JARDIM DA PENHA,0,0,0,0,0,1
3,No,6.663786e+14,5720245,F,2016-05-19T13:31:38Z,2016-05-19T00:00:00Z,66,PRAIA DO CANTO,0,1,0,0,0,0
4,No,1.835776e+12,5742007,M,2016-05-30T07:38:58Z,2016-05-30T00:00:00Z,72,RESISTÊNCIA,0,0,0,0,0,0
5,No,3.679994e+13,5632202,M,2016-04-28T07:46:22Z,2016-05-02T00:00:00Z,20,GURIGICA,0,0,0,0,0,1
6,No,7.288626e+13,5731637,M,2016-05-24T10:18:50Z,2016-05-31T00:00:00Z,53,SÃO CRISTÓVÃO,0,1,0,0,0,1
7,No,7.549369e+13,5664429,M,2016-05-05T12:14:31Z,2016-05-31T00:00:00Z,37,TABUAZEIRO,0,0,0,0,0,1
8,No,4.188596e+12,5681442,M,2016-05-10T14:23:11Z,2016-05-11T00:00:00Z,1,MONTE BELO,0,0,0,0,0,0
9,No,1.856755e+13,5670434,M,2016-05-06T13:47:31Z,2016-05-17T00:00:00Z,16,SANTA LUÍZA,0,0,0,0,0,0
10,No,8.459149e+11,5773223,F,2016-06-06T06:58:33Z,2016-06-08T00:00:00Z,10,SANTA MARTHA,0,0,0,0,0,0
11,Yes,9.869418e+13,5584159,M,2016-04-14T13:23:25Z,2016-05-02T00:00:00Z,44,BELA VISTA,0,0,0,0,0,1
12,No,9.413640e+14,5696981,F,2016-05-13T14:45:15Z,2016-05-16T00:00:00Z,26,JARDIM DA PENHA,0,0,0,0,0,0
13,No,4.976512e+12,5750877,F,2016-05-31T09:26:27Z,2016-05-31T00:00:00Z,49,JOANA D´ARC,0,0,0,0,0,0
14,No,7.854132e+14,5720360,F,2016-05-19T13:43:43Z,2016-05-19T00:00:00Z,64,PRAIA DO CANTO,0,1,1,0,0,0
15,No,2.472894e+13,5770446,F,2016-06-03T10:18:08Z,2016-06-03T00:00:00Z,0,PARQUE MOSCOSO,0,0,0,0,0,0
16,No,8.133225e+11,5543083,M,2016-04-05T09:43:01Z,2016-05-06T00:00:00Z,9,JABOUR,0,0,0,0,0,1
17,No,4.448198e+14,5759329,F,2016-06-01T12:25:54Z,2016-06-01T00:00:00Z,66,SANTO ANTÔNIO,0,0,0,0,0,0
18,No,2.526577e+13,5716787,M,2016-05-19T07:12:58Z,2016-05-19T00:00:00Z,0,SÃO BENEDITO,0,0,0,0,0,0
19,Yes,7.587189e+11,5767236,F,2016-06-02T16:55:59Z,2016-06-07T00:00:00Z,22,JARDIM DA PENHA,0,0,0,0,0,1

In [7]:
trainSet.tail(20)

,No-show,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
66295,No,5.625729e+12,5678894,F,2016-05-10T09:11:45Z,2016-05-12T00:00:00Z,85,REPÚBLICA,0,1,0,0,0,0
66296,Yes,2.526857e+14,5736916,F,2016-05-25T08:54:37Z,2016-05-30T00:00:00Z,66,PIEDADE,0,1,0,0,0,1
66297,Yes,5.625112e+14,5745551,F,2016-05-30T12:05:33Z,2016-06-01T00:00:00Z,52,DA PENHA,0,0,0,0,0,0
66298,No,7.925227e+13,5684358,M,2016-05-11T08:30:48Z,2016-05-18T00:00:00Z,6,FORTE SÃO JOÃO,0,0,0,0,0,0
66299,No,1.423519e+14,5763357,M,2016-06-02T08:52:56Z,2016-06-07T00:00:00Z,70,JARDIM DA PENHA,0,0,0,0,0,1
66300,Yes,4.533287e+13,5644891,M,2016-05-02T09:14:35Z,2016-05-03T00:00:00Z,64,ITARARÉ,0,1,1,0,0,0
66301,No,5.573577e+12,5669720,M,2016-05-06T11:28:47Z,2016-05-11T00:00:00Z,1,JABOUR,0,0,0,0,0,1
66302,No,3.849455e+12,5772604,M,2016-06-03T15:49:17Z,2016-06-03T00:00:00Z,45,MARIA ORTIZ,0,0,0,0,0,0
66303,No,7.532885e+14,5761930,F,2016-06-02T07:13:17Z,2016-06-06T00:00:00Z,51,FORTE SÃO JOÃO,0,1,0,0,0,1
66304,No,2.416441e+12,5703554,F,2016-05-16T14:05:55Z,2016-05-16T00:00:00Z,74,FORTE SÃO JOÃO,0,1,0,0,0,0
66305,No,5.223532e+10,5708613,F,2016-05-17T11:37:01Z,2016-05-17T00:00:00Z,52,ILHA DE SANTA MARIA,0,0,0,0,0,0
66306,No,9.936858e+12,5658449,F,2016-05-04T11:10:36Z,2016-05-04T00:00:00Z,0,RESISTÊNCIA,0,0,0,0,0,0
66307,No,6.167599e+14,5677538,M,2016-05-10T07:20:35Z,2016-05-10T00:00:00Z,5,SANTOS DUMONT,0,0,0,0,0,0
66308,No,8.685985e+13,5722483,F,2016-05-20T07:20:58Z,2016-05-20T00:00:00Z,61,TABUAZEIRO,1,1,0,0,0,0
66309,No,7.233277e+12,5729547,F,2016-05-24T07:36:44Z,2016-05-31T00:00:00Z,57,SÃO PEDRO,0,1,0,0,0,1
66310,No,7.868846e+12,5721432,F,2016-05-19T16:26:59Z,2016-06-02T00:00:00Z,11,SANTOS DUMONT,0,0,0,0,0,1
66311,No,7.711876e+13,5607080,M,2016-04-20T11:03:44Z,2016-05-11T00:00:00Z,50,TABUAZEIRO,0,1,1,0,0,1
66312,No,6.293825e+14,5758142,F,2016-06-01T10:19:43Z,2016-06-01T00:00:00Z,42,ANDORINHAS,0,0,0,0,0,0
66313,Yes,3.824988e+12,5579699,M,2016-04-13T15:26:38Z,2016-05-05T00:00:00Z,13,BELA VISTA,0,0,0,0,0,1
66314,No,5.899838e+12,5693376,M,2016-05-13T07:10:57Z,2016-05-13T00:00:00Z,12,JESUS DE NAZARETH,0,0,0,0,0,0

# Verifico la presenza di record nulli

In [8]:
trainSet.isnull().sum(axis=0)

No-show           0
PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
dtype: int64

# Verifico se le features PatientId e AppointmentId contengono duplicati

In [9]:
trainSet.AppointmentID.duplicated().sum()

0

In [10]:
trainSet.PatientId.duplicated().sum(axis=0)

21927

# Verifico il range dell' età dei pazienti e di dove si svolgono le visite

In [11]:
print(sorted(trainSet.Age.unique()))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 102, 115]

In [12]:
print(sorted(trainSet.Neighbourhood.unique()))

['AEROPORTO', 'ANDORINHAS', 'ANTÔNIO HONÓRIO', 'ARIOVALDO FAVALESSA', 'BARRO VERMELHO', 'BELA VISTA', 'BENTO FERREIRA', 'BOA VISTA', 'BONFIM', 'CARATOÍRA', 'CENTRO', 'COMDUSA', 'CONQUISTA', 'CONSOLAÇÃO', 'CRUZAMENTO', 'DA PENHA', 'DE LOURDES', 'DO CABRAL', 'DO MOSCOSO', 'DO QUADRO', 'ENSEADA DO SUÁ', 'ESTRELINHA', 'FONTE GRANDE', 'FORTE SÃO JOÃO', 'FRADINHOS', 'GOIABEIRAS', 'GRANDE VITÓRIA', 'GURIGICA', 'HORTO', 'ILHA DAS CAIEIRAS', 'ILHA DE SANTA MARIA', 'ILHA DO BOI', 'ILHA DO FRADE', 'ILHA DO PRÍNCIPE', 'ILHAS OCEÂNICAS DE TRINDADE', 'INHANGUETÁ', 'ITARARÉ', 'JABOUR', 'JARDIM CAMBURI', 'JARDIM DA PENHA', 'JESUS DE NAZARETH', 'JOANA D´ARC', 'JUCUTUQUARA', 'MARIA ORTIZ', 'MARUÍPE', 'MATA DA PRAIA', 'MONTE BELO', 'MORADA DE CAMBURI', 'MÁRIO CYPRESTE', 'NAZARETH', 'NOVA PALESTINA', 'PARQUE INDUSTRIAL', 'PARQUE MOSCOSO', 'PIEDADE', 'PONTAL DE CAMBURI', 'PRAIA DO CANTO', 'PRAIA DO SUÁ', 'REDENÇÃO', 'REPÚBLICA', 'RESISTÊNCIA', 'ROMÃO', 'SANTA CECÍLIA', 'SANTA CLARA', 'SANTA HELENA', 'SANTA LUÍZA', 'SANTA LÚCIA', 'SANTA MARTHA', 'SANTA TEREZA', 'SANTO ANDRÉ', 'SANTO ANTÔNIO', 'SANTOS DUMONT', 'SANTOS REIS', 'SEGURANÇA DO LAR', 'SOLON BORGES', 'SÃO BENEDITO', 'SÃO CRISTÓVÃO', 'SÃO JOSÉ', 'SÃO PEDRO', 'TABUAZEIRO', 'UNIVERSITÁRIO', 'VILA RUBIM']

# Poichè i campi No-show,scheduled day,appoinment day sono fondamentali, annullo le righe li dove questi campi siano inconsistenti

In [13]:
if trainSet["No-show"].isnull().sum(axis=0) > 0:
    print(trainSet["No-show"].isnull().sum(axis=0))
    trainSet = trainSet["No-show"].dropna()

In [14]:
if trainSet.ScheduledDay.isnull().sum(axis=0) > 0:
    print(trainSet.ScheduledDay.isnull().sum(axis=0))
    trainSet = trainSet.ScheduledDay.dropna()

In [15]:
if trainSet.AppointmentDay.isnull().sum(axis=0) > 0:
    print(trainSet.AppointmentDay.isnull().sum(axis=0))
    trainSet = trainSet.AppointmentDay.dropna()

In [16]:
if trainSet.PatientId.isnull().sum(axis=0) > 0:
    trainSet = trainSet.PatientId.dropna()

In [17]:
if testSet["No-show"].isnull().sum(axis=0) > 0:
    testSet = testData["No-show"].dropna()

In [18]:
if testSet.ScheduledDay.isnull().sum(axis=0) > 0:
    testSet = testSet.ScheduledDay.dropna()

In [19]:
if testSet.AppointmentDay.isnull().sum(axis=0) > 0:
    testSet = testSet.AppointmentDay.dropna()

In [20]:
if testSet.PatientId.isnull().sum(axis=0) > 0:
    testSet = testSet.PatientId.dropna()

# Come suggerito, il campo inerente il giorno della visita è fondamentale, dunque ho pensato che una buona features da inserire e che possa sostituire le colonne inerenti il giorno della prenotazione e il giorno effettivo della visita fosse il calcolare i giorni mancanti all' effettuazione della visita

In [21]:
from datetime import datetime,timedelta

trainSet['AppointmentDay'] = pd.to_datetime(trainSet['AppointmentDay'],format="%Y-%m-%dT%H:%M:%SZ").dt.date


trainSet['ScheduledDay'] = pd.to_datetime(trainSet['ScheduledDay'],format="%Y-%m-%dT%H:%M:%SZ").dt.date

In [22]:
trainSet['GiorniMancanti']=trainSet['AppointmentDay'].sub(trainSet['ScheduledDay'],axis=0)
trainSet['GiorniMancanti']=trainSet['GiorniMancanti'].dt.days.astype('int32')

In [23]:
testSet['AppointmentDay'] = pd.to_datetime(testSet['AppointmentDay'],format="%Y-%m-%dT%H:%M:%SZ").dt.date


testSet['ScheduledDay'] = pd.to_datetime(testSet['ScheduledDay'],format="%Y-%m-%dT%H:%M:%SZ").dt.date

In [24]:
testSet['GiorniMancanti']=testSet['AppointmentDay'].sub(testSet['ScheduledDay'],axis=0)
testSet['GiorniMancanti']=testSet['GiorniMancanti'].dt.days.astype('int32')

# Dopo aver calcolato i giorni restanti elimino le due colonne utilizzate per ottenere questo nuovo dato

In [25]:
trainSet = trainSet.drop(columns=['ScheduledDay', 'AppointmentDay'])

In [26]:
testSet = testSet.drop(columns=['ScheduledDay', 'AppointmentDay'])

# Inoltre un altro dato che consentirebbe al classificatore di migliorare la sua accuratezza è il calcolare quante volte un paziente non si è presentato ad una visita considerando tale dato fondamentale per un ipotetica futura assenza

In [27]:
trainSet['No-show'].replace("No", 0, inplace=True)
trainSet['No-show'].replace("Yes", 1, inplace=True)

In [28]:
testSet['No-show'].replace("No", 0, inplace=True)
testSet['No-show'].replace("Yes", 1, inplace=True)

In [29]:
trainSet['AppuntamentiPassatiPersi'] = trainSet.groupby('PatientId')['No-show'].apply(lambda x: x.cumsum())

In [30]:
testSet['AppuntamentiPassatiPersi'] = testSet.groupby('PatientId')['No-show'].apply(lambda x: x.cumsum())

# A questo punto le features PatientId e AppointmentID non sono più rilevanti alla fine della classificazione dunque vengono eliminate

In [31]:
trainSet = trainSet.drop(columns=['PatientId', 'AppointmentID'])

In [32]:
testSet = testSet.drop(columns=['PatientId', 'AppointmentID'])

# Verifico i miei nuovi dati

In [33]:
trainSet

,No-show,Gender,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,GiorniMancanti,AppuntamentiPassatiPersi
0,1,F,29,SANTA MARTHA,0,0,0,0,0,0,33,1
1,0,F,5,JOANA D´ARC,0,0,0,0,0,0,0,0
2,0,M,64,JARDIM DA PENHA,0,0,0,0,0,1,20,0
3,0,F,66,PRAIA DO CANTO,0,1,0,0,0,0,0,0
4,0,M,72,RESISTÊNCIA,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
66310,0,F,11,SANTOS DUMONT,0,0,0,0,0,1,14,0
66311,0,M,50,TABUAZEIRO,0,1,1,0,0,1,21,0
66312,0,F,42,ANDORINHAS,0,0,0,0,0,0,0,0
66313,1,M,13,BELA VISTA,0,0,0,0,0,1,22,2
66314,0,M,12,JESUS DE NAZARETH,0,0,0,0,0,0,0,0

In [34]:
trainSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66315 entries, 0 to 66314
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   No-show                   66315 non-null  int64
 1   Gender                    66315 non-null  object
 2   Age                       66315 non-null  int64
 3   Neighbourhood             66315 non-null  object
 4   Scholarship               66315 non-null  int64
 5   Hipertension              66315 non-null  int64
 6   Diabetes                  66315 non-null  int64
 7   Alcoholism                66315 non-null  int64
 8   Handcap                   66315 non-null  int64
 9   SMS_received              66315 non-null  int64
 10  GiorniMancanti            66315 non-null  int32
 11  AppuntamentiPassatiPersi  66315 non-null  int64
dtypes: int32(1), int64(9), object(2)
memory usage: 5.8+ MB

# Procedo all'utilizzo del label encoder per trasformare tutti i dati object in numerici

In [35]:
s= (trainSet.dtypes=='object')
trainSet_data_cols=list(s[s].index)
print(trainSet_data_cols)

['Gender', 'Neighbourhood']

In [36]:
label_encoder = LabelEncoder()
for col in trainSet_data_cols:
    trainSet[col]=label_encoder.fit_transform(trainSet[col])

In [37]:
trainSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66315 entries, 0 to 66314
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   No-show                   66315 non-null  int64
 1   Gender                    66315 non-null  int32
 2   Age                       66315 non-null  int64
 3   Neighbourhood             66315 non-null  int32
 4   Scholarship               66315 non-null  int64
 5   Hipertension              66315 non-null  int64
 6   Diabetes                  66315 non-null  int64
 7   Alcoholism                66315 non-null  int64
 8   Handcap                   66315 non-null  int64
 9   SMS_received              66315 non-null  int64
 10  GiorniMancanti            66315 non-null  int32
 11  AppuntamentiPassatiPersi  66315 non-null  int64
dtypes: int32(3), int64(9)
memory usage: 5.3 MB

In [38]:
s= (testSet.dtypes=='object')
testSet_data_cols=list(s[s].index)
print(testSet_data_cols)

['Gender', 'Neighbourhood']

In [39]:
label_encoder = LabelEncoder()
for col in testSet_data_cols:
    testSet[col]=label_encoder.fit_transform(testSet[col])

In [40]:
testSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22106 entries, 0 to 22105
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   No-show                   22106 non-null  int64
 1   Gender                    22106 non-null  int32
 2   Age                       22106 non-null  int64
 3   Neighbourhood             22106 non-null  int32
 4   Scholarship               22106 non-null  int64
 5   Hipertension              22106 non-null  int64
 6   Diabetes                  22106 non-null  int64
 7   Alcoholism                22106 non-null  int64
 8   Handcap                   22106 non-null  int64
 9   SMS_received              22106 non-null  int64
 10  GiorniMancanti            22106 non-null  int32
 11  AppuntamentiPassatiPersi  22106 non-null  int64
dtypes: int32(3), int64(9)
memory usage: 1.8 MB

# Procedo con l'addestramento e dopo aver provato con diversi tipi di classificatori e tipi di regressione ho scelto il modello che mi ha garantito di raggiungere l'accuratezza più alta ovvero il RandomForest. Questo classificatore è un algoritmo di apprendimento supervisionato che sfrutta  un aggregazione' di decision tree o meglio la previsione effettuata da più alberi. Nello specifico, il risultato finale restituito è la media del risultato numerico restituito dai diversi alberi  i quali singolarmente potrebbero avere una previsione non particolarmente accurata ma facendone una media queste previsioni saranno più vicine al risultato sperato. Tale classificatore è utilizzato per minimizzare il fenomeno dell'overfitting.

In [41]:
train_X = trainSet.drop(columns = ['No-show'])

In [42]:
test_X = testSet.drop(columns = ['No-show'])

In [43]:
train_Y = trainSet["No-show"]

In [44]:
test_Y = testSet["No-show"]

In [45]:
modello = RandomForestClassifier(random_state=1)

In [46]:
modello.fit(train_X, train_Y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

In [47]:
predict_trainSet = modello.predict(train_X)

In [48]:
predict_testSet = modello.predict(test_X)

# Calcolo l'accuratezza

In [49]:
print("Accuratezza trainset: {:.2f}".format(accuracy_score(train_Y, predict_trainSet)))

Accuratezza trainset: 0.99

In [50]:
print("Accuratezza testset: {:.2f}".format(accuracy_score(test_Y, predict_testSet)))

Accuratezza testset: 0.97